<!doctype html>

<title>ML Based Patent Prior Art Search Tool</title>

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='IPsearch.ico') }}">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/d3.layout.cloud.js"></script>
</head>

<div class=page>
  {% block body %} 
  
  {% endblock %}
</div>