
{% extends "layout-old.html" %}

{% block body %}
<div class=metanav>
    <a href="{{ url_for('patentMain')}}#searching">back to patent search</a>
</div>


<h1>Results for Patent Search</h1>

<div>Patent Abstract you've entered:</div>
<div>
    {{ abs }}
</div>
<br>
<br>

<div>Patent Cosine Similarity Threshold you've entered:</div>
<div>
    {{ sim }}
</div>

<br>
<br>


<div>Patent Search Result Get Top Count you've entered:</div>
<div>
    {{ top }}
</div>

<br>
<br>
<div>Patent Search Result Table:</div>
{{ table | safe }}

    <br><br>

<div class=metanav>
        <a href="{{ url_for('patentMain')}}#searching">back to patent search</a>
</div>

{% endblock %}
