 {% extends "layout-old.html" %} {% block body %}

<section class="bg-faded">

  <div class="container">
    <div class=metanav>
      <a href="{{ url_for('patentMain')}}#searching">back to patent search</a>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
        <h2 class="text-primary">Patent Search</h2>
      </div>
    </div>


    <div>Patent Similarity Threshold (0-100)% you've entered:
      <span id="simText">{{sim}}</span>
      <div>
        <input id="sim" type="range" min="0" max="100" value="{{sim}}" onchange="updateSimTextInput(this.value)">
      </div>
    </div>

    <br/>

    <div>Patent Search Result Get Top Count you've entered:
      <span id="topText">{{top}}</span>
      <div>
        <input id="top" type="range" min="1" max="10" value="{{top}}" onchange="updateTopTextInput(this.value)">
      </div>
    </div>

    <br/>

    <div>Cluster info:
      <div>
        <div id="clusterInfo"></div>
      </div>
    </div>

    <br/>


    <div class="form-group row">
      <div class="col-xs-8" style="width:91%">
        <textarea id="searchtext" rows="7" class="form-control">{{ abs }}</textarea>
      </div>
      <div>
        <input id="searchpatents" type="submit" value="Search" class="btn btn-white" onclick="searchPatents()">
      </div>
    </div>

    <div id="loader"></div>

    <br/>

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#result">Similar Patents</a>
      </li>
      <li>
        <a data-toggle="tab" href="#wcloud">Topic Word Cloud</a>
      </li>
      <li>
        <a data-toggle="tab" href="#year">Patents by Year</a>
      </li>
      <li>
        <a data-toggle="tab" href="#yearsto">Patents by Time Taken</a>
      </li>
      <li>
        <a data-toggle="tab" href="#dockind">Patents by Kind</a>
      </li>
      <li>
        <a data-toggle="tab" href="#claim">Patents by Claim</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="result" class="tab-pane fade in active">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table id="searchresultTable" resultsummary="" class="table table-bordered table-hover">
                <!-- <caption class="text-center">Search result for threshold 0.5 and top results 5</caption> -->
                <thead>
                  <tr>
                    <th style="width:10%">Appl. No.</th>
                    <th style="width:10%">Match %</th>
                    <th style="width:10%">Title</th>
                    <th style="width:30%">Abstract</th>
                    <th style="width:30%">Claim Text</th>
                  </tr>
                </thead>
                <tbody></tbody>

                <tfoot>
                  <tr>
                    <td colspan="5" class="text-center">Data collected from
                      <a href="https://bulkdata.uspto.gov/" target="_blank">uspto.gov</a>.</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="wcloud" class="tab-pane fade">
        <p>
          <iframe id="wordcloud" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/wordcloud/x+1+400"></iframe>
        </p>
      </div>
      <div id="year" class="tab-pane fade">
        <p>
          <iframe id="pub_year" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+pub_year"></iframe>
        </p>
        <p>
          <iframe id="appl_year" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+appl_year"></iframe>
        </p>
        <p>
          <iframe id="grant_year" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+grant_year"></iframe>
        </p>
      </div>
      <div id="yearsto" class="tab-pane fade">
        <p>
          <iframe id="years_to_publish" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+years_to_publish"></iframe>
        </p>
        <p>
          <iframe id="years_to_grant" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+years_to_grant"></iframe>
        </p>
      </div>
      <div id="dockind" class="tab-pane fade">
        <p>
          <iframe id="patent_doc_kind" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+patent_doc_kind"></iframe>
        </p>
      </div>
      <div id="claim" class="tab-pane fade">
        <p>
          <iframe id="number_of_claims" width=100% height="500" frameborder="0" seamless="seamless" scrolling="yes" src="/patent/patentstats/x+1+number_of_claims"></iframe>
        </p>
      </div>


      <div class=metanav>
        <a href="{{ url_for('patentMain')}}#searching">back to patent search</a>
      </div>

      <script>
        if ($('tr').length <= 2) {
          // search hasn't run yet, run it
          searchPatents();
        }
      </script>

    </div>
</section>
{% endblock %}