 {% extends "layout-new.html" %} {% macro render_field(field) %}
<dd>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }} {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <dd>{{ error }}</dd>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    {% endmacro %} {% block body %}
    <div>
        <form action="{{ url_for('patentMain') }}" method=post enctype="multipart/form-data">
            <div class="row d-md-flex mt-4 text-center">
                <div class="col-sm-4 mt-4 wow fadeInLeft">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Step 1</h5>
                            <h3 class="card-title text-primary pt-4">Enter New Patent Claim text</h3>
                            <p class="card-text text-muted pb-3 border-bottom">{{ render_field( form.patent_abs, class_="large-text" ) }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-0 wow fadeIn">
                    <div class="card pt-4 pb-4">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Step 2</h5>
                            <h3 class="card-title text-primary pt-4">Enter Search Parameter</h3>
                            <p class="card-text text-muted pb-3 border-bottom">
                                <div>{{ render_field( form.patent_cosine_sim_threshold ) }}</div>
                                <div>{{ render_field( form.patent_result_top ) }}</div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-4 wow fadeInRight">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Step 3</h5>
                            <h3 class="card-title text-primary pt-4">Start Search for Patents</h3>
                            <p class="card-text text-muted pb-3 border-bottom"></p>
                            <a class="btn btn-primary mr-2 page-scroll">{{ render_field( form.submit ) }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('submit').style.display = "none";
    </script> {% endblock %}