
{% extends "layout-old.html" %}

{% block body %}

<script>
	$(function(){
		$("#searchpatents").click( function() {
			
			$("#searchresult1 > tbody").empty();
			
			hosturl = 'http://ec2-54-89-199-144.compute-1.amazonaws.com:8080/patentsearch'
			var srchtext = $('#searchtext').val();
			
			if (srchtext === ''){
				srchtext = 'A new and distinct cultivar of ornamental  Hosta  plant named Beckoning; as herein described and illustrated, with yellowish leaf center and blue-green margin, suitable as a potted plant, for the garden, and for cut flower arrangements.';
			}
			
			srchurl = hosturl + '?query_string=' + srchtext + '&top=5&cosine_sim_threshold=0.3';
			
			$.ajax({
				type: "GET",
				url: srchurl,
				dataType: "json",
				contentType: "application/json",
				crossDomain: true,
				success: function (data) {
					console.log(data);
					chart_data = data.charts_data.charts_data1;
					searchresult_data = data.searchresult;
							
					var output = document.querySelector('#searchresult1 tbody');
					
					for (var i = 0; i < searchresult_data.length; i++){
						//console.log(searchresult_data[i].appl_doc_number);
						var row = document.createElement('tr');
						
						var td = document.createElement('td');
						td.appendChild(document.createTextNode(searchresult_data[i].appl_doc_number));
						row.appendChild(td);
						
						var td = document.createElement('td');
						td.appendChild(document.createTextNode(searchresult_data[i].invention_title));
						row.appendChild(td);					
						
						//var td = document.createElement('td');
						//td.appendChild(document.createTextNode(searchresult_data[i].abstract));
						//row.appendChild(td);					
						
						var abstract = searchresult_data[i].abstract
						
						if (abstract.length > 150){
							abstract_small = abstract.substring(0,150) + '....'
							
							var abbrnode = document.createElement("abbr");       
							abbrnode.setAttribute("title", abstract);
							var abbrtextnode = document.createTextNode(abstract_small); 
							abbrnode.appendChild(abbrtextnode);
							var td = document.createElement('td');
							td.appendChild(abbrnode);
							row.appendChild(td);	
						}
						else{
							var td = document.createElement('td');
							td.appendChild(document.createTextNode(abstract));
							row.appendChild(td);					
						}				
						
						
						var claim_text = searchresult_data[i].claim_text
						
						if (claim_text.length > 150){
							claim_text_small = claim_text.substring(0,150) + '....'
							
							var abbrnode = document.createElement("abbr");       
							abbrnode.setAttribute("title", claim_text);
							var abbrtextnode = document.createTextNode(claim_text_small); 
							abbrnode.appendChild(abbrtextnode);
							var td = document.createElement('td');
							td.appendChild(abbrnode);
							row.appendChild(td);	
						}
						else{
							var td = document.createElement('td');
							td.appendChild(document.createTextNode(claim_text));
							row.appendChild(td);					
						}				
						
						output.appendChild(row);
					}		  
				}
			});
		});
	});
	
	//$(document).ready(function () {
	//});

	// With JQuery
//	$('#ex1').slider({
		//formatter: function(value) {
			//return 'Current value: ' + value;
		//}
	//});	
</script>

<!-- <div class="container">
<div class="col-md-3">
  <form class="navbar-form" role="search">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</div>	
</div> -->
  

<h2>Patent Search</h2>

<!-- <div id="pub_year_chart"></div> -->




<div class="container-fluid">
	<div class="form-group row">
		<div class="col-xs-8">
			<input id="searchtext" type="text" class="form-control input-lg">
		</div>	
		<input id="searchpatents" type="submit" value="Search" class="btn btn-primary">
		
		<!-- 	<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.5"/>
		-->
	</div>

	<hr/>

	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#result">Similar Patents</a></li>
	  <li><a data-toggle="tab" href="#wcloud">Topics</a></li>
	  <li><a data-toggle="tab" href="#charts">Charts</a></li>
	</ul>

	<div class="tab-content">
	  <div id="result" class="tab-pane fade in active">
			<div class="row">
				<div class="col-xs-12">
				  <div class="table-responsive">
					<table id = "searchresult1" resultsummary="" class="table table-bordered table-hover">
					  <!-- <caption class="text-center">Search result for threshold 0.5 and top results 5</caption> -->
					  <thead>
						<tr>
						  <th style="width:5%">Appl. No.</th>
						  <th style="width:25%">Invention Title</th>
						  <th style="width:30%">Abstract</th>
						  <th style="width:30%">Claim Text</th> 
						</tr>
					  </thead>
					  <tbody></tbody>
				  
					 <tfoot>
						<tr>
						  <td colspan="4" class="text-center">Data collected from <a href="https://bulkdata.uspto.gov/" target="_blank">uspto.gov</a>.</td>
						</tr>
					  </tfoot>
					</table>
				  </div><!--end of .table-responsive-->
				</div>
			</div>
	  </div>
	  <div id="wcloud" class="tab-pane fade">
		<h3>Word Cloud</h3>
		<p>word cloud</p>
	  </div>
	  <div id="charts" class="tab-pane fade">
		<h3>Charts</h3>
		<p>Charts</p>
	  </div>
	</div>

</div>
	
{% endblock %}